<%- include("header") -%>

<title>Workout Card</title>
  </head>
  <body>
    <h1 class="title">Workout Card</h1>
    <div class="select-card">
        <form action="/" method="post">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
              GIORNO A
            </label>
        </div>
            <div class="card-detail">
                <p class="exe-des exe"> Exercise&nbsp;</p>
                <p class="exe-nr-a exe">5</p> 
                <p class="last-date last">2022-04-26</p>
                <p class="last-des last">Last workout:&nbsp;</p>
                <hr>
            </div>
          
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                GIORNO B
            </label>
        </div>
            <div class="card-detail">
                <p class="exe-des exe">Exercise&nbsp;</p>
                <p class="exe-nr-a exe">5</p> 
                <p class="last-date last">2022-04-26</p>
                <p class="last-des last">Last workout:&nbsp;</p>
                <hr>
            </div>
          
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              GIORNO C
            </label>
        </div>
            <div class="card-detail">
                <p class="exe-des exe">Exercise&nbsp;</p>
                <p class="exe-nr-a exe">5</p> 
                <p class="last-date last">2022-04-26</p>
                <p class="last-des last">Last workout:&nbsp;</p>
                <hr>
            </div>
        </form>
    </div>

    <div class="navbar">
        <button class="start-button">START</button>
    </div>

    <%- include("footer") -%>