html,body{
    height: 100vh;
}

svg{
    margin: auto;
    vertical-align: middle;
}
.icons-weight{
    color: #fff;
    background-color: #FF7F09;
    padding: 11px;
    border-radius: 50%;
    border: 2px solid #FF7F09;
}
.icons-not-weight{
    color: #FF7F09;
    background-color:#fff;
    padding: 11px;
    border-radius: 50%;
    border: 2px solid #FF7F09;
}

.icons-done{
    color: #fff;
    background-color: #4fce10;
    padding: 11px;
    border-radius: 50%;
    border: 2px solid #4fce10;
}
.icons-not-done{
    color: #4fce10;
    background-color: #fff;
    padding: 11px;
    border-radius: 50%;
    border: 2px solid #4fce10;
}


.exe-icon{
    width: 50%;
}
.card-spec{
    font-family: 'Ubuntu';
    padding-top: 20px;
    padding-bottom: 20px;
}
.set-weight{
    margin: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.set-done{
    margin: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.swiper {
    width: 100%;
    height: 55%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    border-radius: 15px;
    width: 400px;
    max-width: 70%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


